.page-content{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

h1{
    color: rgb(98, 98, 227);
    top: 0;
    left: 0;
}
