Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

h1 {
    width: fit-content;
    color: rgb(82, 129, 171);
    margin-top: 0;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.title a:hover h1 {
    opacity: 0.8;
    cursor: pointer;
}
