.carousel-fullwidth-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 0;
    background-color: rgb(51, 58, 61);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    color: aliceblue;
}

.carousel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0;
    overflow: hidden;
}

.carousel-controls {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &.prev {
        rotate: 0deg;
    }
    
    &.next {
        rotate: 180deg;
    }
}

.example-car-cutout {
    height: 200px;
    width: auto;
    flex-shrink: 0;
    object-fit: cover;
    object-position: bottom;
    border-radius: 8px;
    overflow: hidden;
}

.description {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-word;
    min-width: 0;
}